{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Speed Math | My Profile</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/mainStyling.css' %}" rel="stylesheet">
</head>
<body>

    <h1>Welcome, {{ request.user.first_name }}</h1>
    <ul>
        <li>Username: {{ request.user.username }}</li>
        <li>Email: {{ request.user.email }}</li>
    </ul>
    <a href="{% url 'logout' %}">Log Out</a>

</body>
</html>