{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SpeedMath | Home</title>
        <link href="{% static 'css/mainStyling.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <script src="{% static 'js/appIndex.js' %}"></script>
    </head>
    <body>
         <!-- Home Page -->
        <div class="bg">
            <div id="createModal" class="modal">
                <div class="modal-content">
                    <div class="horiFlex mb2">
                        <p class="bold lgText blueText">Create a quiz</p>
                        <span class="close">&times;</span>
                    </div>
                    <form id="createForm" class="vertFlex">
                        <label for="questions">Amount of questions*</label>
                        <select name="questions" id="questions" class="mb2" required>
                            <option value="10">10 Questions</option>
                            <option value="15">15 Questions</option>
                            <option value="20">20 Questions</option>
                            <option value="30">30 Questions</option>
                            <option value="40">40 Questions</option>
                            <option value="50">50 Questions</option>
                        </select>
                        <label for="difficulty">Difficulty*</label>
                        <select name="difficulty" id="questions" class="mb2" required>
                            <option value="1">Easy (Aimed Towards Speed)</option>
                            <option value="2">Normal (Mix of Speed and Mental Strategy)</option>
                            <option value="3">Hard (Aimed towards building Strategy)</option>
                        </select>
                        <label class="bold">What would you like to practice?*</label>
                        <div class="horiFlex">
                            <input type="checkbox" name="addition" id="addition">
                            <label for="addition">Addition</label>
                        </div>
                        <div class="horiFlex">
                            <input type="checkbox" name="subtraction" id="subtraction">
                            <label for="subtraction">Subtraction</label>
                        </div>
                        <div class="horiFlex">
                            <input type="checkbox" name="division" id="division">
                            <label for="division">Division</label>
                        </div>
                        <div class="horiFlex mb2">
                            <input type="checkbox" name="multiplication" id="multiplication">
                            <label for="multiplication">Multiplication</label>
                        </div>
                        <div class="horiFlex">
                            <input type="checkbox" name="shuffle" id="shuffle">
                            <label for="shuffle">Shuffle the questions?</label>
                        </div>
                        <button type="submit">
                            Create Quiz
                        </button>
                    </form>
                </div>
            </div>

            <div class="navbar">
                <img src="{% static 'images/brandText.png' %}" alt="SpeedMath Logo" class="smLogo">
                    {% if request.user.is_authenticated %}
                        <div class="vertFlex">
                            <p class="bold lgText" id="greetingText" >Good morning,</p>
                            <p>@{{ request.user.username }}</p>
                        </div>
                    {% endif %}
                <button id="createQuizBtn" class="navButtonActive mlAuto">
                    New Quiz
                </button>
                <a href="{% url 'logout' %}"></a>
                    <button class="navButton">
                        Quiz History
                    </button>
                </a>
                <a href="{% url 'logout' %}">
                    <button class="navButton">
                        Logout
                    </button>
                </a>
            </div>
            <div class="simpleFooter" style="border-top: 1px solid rgb(37, 107, 188);">
                <p>
                    © 2024 Christian McNamara
                </p>
            </div>
        </div>
    </body>
</html>