{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SpeedMath | Home</title>
        <link href="{% static 'css/mainStyling.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    </head>
    <body>
         <!-- Home Page -->
        <div class="bg">
            <div class="navbar">
                <img src="{% static 'images/brandText.png' %}" alt="SpeedMath Logo" class="smLogo">
                    {% if greeting and request.user.is_authenticated %}
                        <div class="vertFlex">
                            <p class="bold">{{ greeting }}</p>
                            <p>{{ request.user.username }}</p>
                        </div>
                    {% endif %}
                <button class="navButtonActive mlAuto">
                    <a href="{% url 'logout' %}">New Quiz</a>
                </button>
                <button class="navButton">
                    <a href="{% url 'logout' %}">Quiz History</a>
                </button>
                <button class="navButton">
                    <a href="{% url 'logout' %}">Logout</a>
                </button>
            </div>
        </div>
    </body>
</html>